<div
  [ngClass]="{ hidden: !localeService.isLanguageSwitcherOpen }"
  class="absolute inset-0 bg-black/50 backdrop-blur-sm z-[60] overflow-hidden"
  (click)="localeService.isLanguageSwitcherOpen = false"
  aria-hidden="true">
  <div
    [ngClass]="{ hidden: !localeService.isLanguageSwitcherOpen }"
    class="absolute right-0 left-0 top-16 bg-gray-400 dark:bg-gray-600 z-[70] m-auto w-fit rounded-md"
    role="listbox">
    <div class="relative p-8">
      <div class="mb-8">
        <h3 i18n class="text-2xl mb-4">Wanna read in your native language?</h3>
        <p i18n class="mb-2">
          I may not speak every language, but my site still covers about 70% of the world population
          :)
        </p>
      </div>
      <div class="grid grid-cols-3 md:grid-cols-6 gap-6">
        @for (locale of localeService.locales; track locale) {
          <a
            [routerLink]="locale.code"
            class="flex flex-col gap-1 items-center justify-center group">
            <img
              class="w-12 h-auto block group-hover:scale-110 transition-all duration-200 cursor-pointer"
              [src]="localeService.getLanguageIconName(locale.code)"
              [alt]="locale.name"
              role="option" />
            <span class="transition-all duration-200 group-hover:font-semibold">{{
              locale.name
            }}</span>
          </a>
        }
      </div>
      <button
        (click)="localeService.isLanguageSwitcherOpen = false"
        class="absolute right-4 top-4 hover:scale-110 transition-all duration-200">
        <ng-icon color="currentColor" size="1.5rem" name="lucideX"></ng-icon>
      </button>
    </div>
  </div>
</div>
