<div
  class="flex justify-between max-w-3xl p-2 md:p-4 gap-2 md:gap-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <div class="flex gap-3 md:gap-4">
    <img
      class="my-auto max-h-20 md:max-h-32 aspect-square rounded-md"
      src="https://cdn.shopify.com/s/files/1/0250/0329/4765/t/4/assets/pf-c8c2f78a--Drachenbaum6_1200x.jpg?v=1609938372" />
    <div class="flex flex-col justify-center md:gap-1">
      <h3 class="text-lg text-black dark:text-white font-bold">Monstera</h3>
      <h3 class="text-sm">Wohnzimmer</h3>
      <div class="mt-2 flex gap-2 items-center">
<!--        <ng-icon color="currentColor" size="1rem" name="lucideDroplet"></ng-icon>-->
        <ng-icon color="currentColor" size="1rem" name="lucideSprayCan"></ng-icon>
<!--        <ng-icon color="currentColor" size="1rem" name="lucideBrushCleaning"></ng-icon>-->
<!--        <ng-icon color="currentColor" size="1rem" name="lucideWandSparkles"></ng-icon>-->
        <h4 class="text-sm">Alle 5 Tage</h4>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between gap-2">
    <button
      type="button"
      class="text-white bg-green-600 hover:bg-green-700 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700">
      <ng-icon color="currentColor" size="1rem" name="lucideCheck"></ng-icon>
    </button>
    <button
      type="button"
      class="text-amber-700 border border-amber-700 hover:bg-amber-700 hover:text-white font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:border-amber-500 dark:text-amber-500 dark:hover:text-white dark:hover:bg-amber-500">
      <ng-icon color="currentColor" size="1rem" name="lucideClockPlus"></ng-icon>
    </button>
  </div>
</div>
