<div
  class="flex justify-between max-w-3xl p-2 md:p-4 gap-2 md:gap-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <div class="flex gap-3 md:gap-4">
    <img
      class="my-auto max-h-20 md:max-h-32 aspect-square rounded-md object-cover"
      [alt]="plant.name"
      [src]="
        plant.imageUrl ??
        'https://cdn.shopify.com/s/files/1/0250/0329/4765/t/4/assets/pf-c8c2f78a--Drachenbaum6_1200x.jpg?v=1609938372'
      " />
    <div class="flex flex-col justify-center">
      <h3 class="text-lg text-black dark:text-white font-bold">{{ plant.name }}</h3>
      <h3 class="md:text-base text-sm">{{ plant.location }}</h3>
      <div class="mt-2 md:mt-4 flex gap-2 md:gap-4 items-center">
        @if (isToday('nextWatering')) {
          <button
            type="button"
            (click)="basketService.add('watered', plant._id)"
            class="relative cursor-pointer bg-gray-50 hover:bg-gray-100 active:bg-gray-200 text-gray-500 text-xs flex items-center gap-1.5 p-1 rounded-lg dark:active:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-500">
            <ng-icon color="currentColor" size="1.5rem" name="lucideDroplet"></ng-icon>
            <p class="hidden md:block text-sm">Alle {{ plant.wateringInterval }} Tage</p>
            @if (basketService.has('watered', plant._id)) {
              <div
                class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-lime-500 border-2 border-white rounded-full -top-4 -end-4 dark:border-gray-700">
                ✔
              </div>
            }
          </button>
        }
        @if (isToday('nextSpraying')) {
          <button
            type="button"
            (click)="basketService.add('sprayed', plant._id)"
            class="relative cursor-pointer bg-gray-50 hover:bg-gray-100 active:bg-gray-200 text-gray-500 text-xs flex items-center gap-1.5 p-1 rounded-lg dark:active:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-500">
            <ng-icon color="currentColor" size="1.5rem" name="lucideSprayCan"></ng-icon>
            <p class="hidden md:block text-sm">Alle {{ plant.sprayingInterval }} Tage</p>
            @if (basketService.has('sprayed', plant._id)) {
              <div
                class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-lime-500 border-2 border-white rounded-full -top-4 -end-4 dark:border-gray-700">
                ✔
              </div>
            }
          </button>
        }
        @if (isToday('nextFertilizing')) {
          <button
            type="button"
            (click)="basketService.add('fertilized', plant._id)"
            class="relative cursor-pointer bg-gray-50 hover:bg-gray-100 active:bg-gray-200 text-gray-500 text-xs flex items-center gap-1.5 p-1 rounded-lg dark:active:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-500">
            <ng-icon color="currentColor" size="1.5rem" name="lucideWandSparkles"></ng-icon>
            <p class="hidden md:block text-sm">Alle {{ plant.fertilizingInterval }} Tage</p>
            @if (basketService.has('fertilized', plant._id)) {
              <div
                class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-lime-500 border-2 border-white rounded-full -top-4 -end-4 dark:border-gray-700">
                ✔
              </div>
            }
          </button>
        }
        @if (isToday('nextCutting')) {
          <button
            type="button"
            (click)="basketService.add('trimmed', plant._id)"
            class="relative cursor-pointer bg-gray-50 hover:bg-gray-100 active:bg-gray-200 text-gray-500 text-xs flex items-center gap-1.5 p-1 rounded-lg dark:active:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-500">
            <ng-icon color="currentColor" size="1.5rem" name="lucideSprout"></ng-icon>
            <p class="hidden md:block text-sm">Alle {{ plant.cuttingInterval }} Tage</p>
            @if (basketService.has('trimmed', plant._id)) {
              <div
                class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-lime-500 border-2 border-white rounded-full -top-4 -end-4 dark:border-gray-700">
                ✔
              </div>
            }
          </button>
        }
        @if (isToday('nextWiping')) {
          <button
            type="button"
            (click)="basketService.add('wiped', plant._id)"
            class="relative cursor-pointer bg-gray-50 hover:bg-gray-100 active:bg-gray-200 text-gray-500 text-xs flex items-center gap-1.5 p-1 rounded-lg dark:active:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400 border border-gray-300 dark:border-gray-500">
            <ng-icon color="currentColor" size="1.5rem" name="lucideBrushCleaning"></ng-icon>
            <p class="hidden md:block text-sm">Alle {{ plant.wipingInterval }} Tage</p>
            @if (basketService.has('wiped', plant._id)) {
              <div
                class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-lime-500 border-2 border-white rounded-full -top-4 -end-4 dark:border-gray-700">
                ✔
              </div>
            }
          </button>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center gap-2">
    <button
      type="button"
      (click)="isModalOpen$.set(true)"
      class="text-amber-700 border border-amber-700 hover:bg-amber-600 active:bg-amber-500 hover:text-white font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center dark:border-amber-500 dark:text-amber-500 dark:hover:text-white dark:hover:bg-amber-500 dark:active:bg-amber-600">
      <ng-icon color="currentColor" size="1rem" name="lucideClockPlus"></ng-icon>
    </button>
  </div>
</div>

<plantu-snooze-modal
  [isOpen$]="isModalOpen$()"
  [title$]="plant.name"
  [initialDate$]="targetDate"
  (onSnooze$)="snoozeAll($event)"
  (onClose$)="isModalOpen$.set(false)" />
