<form class="max-w-sm mb-8">
  <select
    (change)="onFilterChange($event)"
    class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 bg-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
    <option value="Alle" selected>Alle Räume</option>
    <option value="Arbeitszimmer">Arbeitszimmer</option>
    <option value="Balkon">Balkon</option>
    <option value="Schlafzimmer">Schlafzimmer</option>
    <option value="Wohnzimmer">Wohnzimmer</option>
    <option value="Zuhause">Nur Zuhause</option>
    <option value="Babiel">Babiel</option>
  </select>
</form>
