[[redirects]]
from = "/"
to = "/de"
status = 301
force = false
conditions = {Language = ["de"]}

[[redirects]]
from = "/"
to = "/en"
status = 301
force = false
conditions = {Language = ["en"]}

[build]
publish = "dist/every"
command = "npm run build"

[[plugins]]
package = "@netlify/angular-runtime"
