<footer class="w-full bg-gray-50 dark:bg-gray-900 py-6">
  <div class="flex items-center justify-center gap-1">
    <p class="text-normal text-sm flex items-center">
      ©️
      {{ currentYear }} |&nbsp;<a
      target="_blank"
      class="underline underline-offset-4 transition-all hover:text-gray-900 active:text-gray-600 dark:hover:text-gray-50 dark:active:text-gray-300"
      href="https://github.com/astrutz/every"
    >Created</a
    >&nbsp;with ❤️️ by Alex Strutz
    </p>
  </div>
</footer>
