<section class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50 dark:bg-gray-900" id="about">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
    <div class="self-center">
      <div class="self-center">
        <every-tag>About me</every-tag>
      </div>
    </div>
    <div class="flex w-full flex-col justify-between gap-12 md:flex-row">
      <div class="flex justify-center md:order-first md:justify-end">
        <div
          class="relative h-[380px] w-[320px] md:h-[460px] md:w-[380px] lg:h-[520px] lg:w-[440px]">
          <img
            alt="Fullpose of Alex"
            loading="lazy"
            width="1833"
            height="2318"
            decoding="async"
            data-nimg="1"
            class="absolute z-10 h-[360px] w-[280px] border-8 border-gray-50 dark:border-gray-900 max-md:left-5 md:right-0 md:top-0 md:h-[420px] md:w-[340px] lg:h-[480px] lg:w-[400px]"
            style="color: transparent; object-fit: cover"
            src="/assets/headshot.webp" />
          <div
            class="absolute h-[360px] w-[320px] border-8 border-transparent bg-gray-200 dark:bg-gray-700 max-md:top-5 md:bottom-0 md:left-0 md:h-[420px] md:w-[340px] lg:h-[480px] lg:w-[400px]"></div>
        </div>
      </div>
      <div class="flex max-w-xl flex-col gap-6">
        <h3 class="text-2xl md:text-3xl font-semibold tracking-[-0.02em] text-gray-900 dark:text-gray-50">
          Curious about me? Here you have it:
        </h3>
        <p class="text-normal text-base">
          I'm a passionate,<!-- -->
          <a
            target="_blank"
            class="underline underline-offset-4 transition-all hover:text-gray-900 dark:hover:text-gray-50 active:text-gray-600 dark:active:text-gray-300"
            href="https://www.figma.com/@shahsagarm"
            >self-proclaimed designer</a
          >
          <!-- -->who specializes in full stack development (React.js &amp; Node.js). I am
          enthusiastic about bringing the technical and visual aspects of digital products to life.
          User experience, pixel perfect design, and writing clear, readable, highly performant code
          matters to me.
        </p>
        <p class="text-normal text-base">
          I began my journey as a web developer in 2015, and since then, I've continued to grow and
          evolve as a developer, taking on new challenges and learning the latest technologies along
          the way. Now, in my early thirties, 7 years after starting my web development journey, I'm
          building cutting-edge web applications using modern technologies such as Next.js,
          TypeScript, Nestjs, Tailwindcss, Supabase and much more.
        </p>
        <p class="text-normal text-base">
          I am very much a progressive thinker and enjoy working on products end to end, from
          ideation all the way to development.
        </p>
        <p class="text-normal text-base">
          When I'm not in full-on developer mode, you can find me hovering around on twitter or on
          indie hacker, witnessing the journey of early startups or enjoying some free time. You can
          follow me on<!-- -->
          <a
            target="_blank"
            class="underline underline-offset-4 transition-all dark:hover:text-gray-50 hover:text-gray-900 dark:active:text-gray-300 active:text-gray-600"
            href="https://twitter.com/shahsagarm"
            >Twitter</a
          >
          <!-- -->where I share tech-related bites and build in public, or you can follow me on<!-- -->
          <a
            target="_blank"
            class="underline underline-offset-4 transition-all dark:hover:text-gray-50 hover:text-gray-900 dark:active:text-gray-300 active:text-gray-600"
            href="https://github.com/shahsagarm"
            >GitHub</a
          >.
        </p>
        <p class="text-normal text-base">Finally, some quick bits about me.</p>
        <div class="flex flex-col gap-2 md:flex-row md:gap-6">
          <ul class="flex list-inside list-disc flex-col gap-2">
            <li class="text-normal text-base">B.E. in Computer Engineering</li>
            <li class="text-normal text-base">Full time freelancer</li>
          </ul>
          <ul class="flex list-inside list-disc flex-col gap-2">
            <li class="text-normal text-base">Avid learner</li>
            <li class="text-normal text-base">Aspiring indie hacker</li>
          </ul>
        </div>
        <p class="text-normal text-base">
          One last thing, I'm available for open source projects, so feel free to reach out and say hello! 😊
        </p>
      </div>
    </div>
  </div>
</section>
