<div class="min-h-screen m-auto max-w-7xl">

  <h1 class="text-xl font-bold m-8">Placeholder content</h1>

  <img class="m-8" src="https://fakeimg.pl/400x200/ab6363/c26d6d?text=Placeholder&font=noto" />

  <p class="m-8">In the mid '90s, Tobias formed a folk music band with Lindsay and Maebe which he called Dr.
    Funke's 100 Percent Natural Good Time Family Band Solution. The group was underwritten by the
    Natural Food Life Company, a division of Chem-Grow, an Allen Crayne acqusition, which was part of
    the Squimm Group. Their motto was simple: We keep you alive. Hey, maybe you could pop a tent
    outside with your cousin Maeby… it'd be a good chance to rub off on her. I cheated and I lied and
    I whored around. Are you sure this isn't her sister? Mrs Veal: What a lovely thing to say.
    Michael: That's an awful thing to say. You are a worse psychiatrist than you are a son-in-law and
    you will never get work as an actor because you have no talent. Each year, Oscar attempts the four
    hundred mile walk from Newport Beach to Berkeley, California. In the twelve years that he's
    attempted this, he's never made it farther than UC Irvine. Annhog's coming? Make love in your
    *own* hand, Mother! Smack of ham. What is she doing at a beauty pageant? Is she running the lights
    or something? It's OUR nausea. I am getting rid of this thing. It has caused me nothing but pride
    and self-respect. Operation Hot Mother. You just grab that brownish area by its points and you
    don't let go no matter what your mother tells you! Are you at all concerned about an uprising?
    Sweet old thing. Only two of those words describe Mom, so I know you're lying to me. Teamocil. And
    I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. You
    need to do more with Rita. Believe me, I'd like to. Did Ted make an appointment? No. Well, then
    Ted can GET THE HELL OUT OF THIS OFFICE! YOU GET THE HELL OUT! There are very few intelligent,
    attractive and straight men in this town. Well, that certainly leaves me out. Each year, Oscar
    attempts the four hundred mile walk from Newport Beach to Berkeley, California. In the twelve
    years that he's attempted this, he's never made it farther than UC Irvine. Monday morning. COME
    ON! But I did finally get into Dad's pants. Although I had to have the crotch taken in a little
    bit. I don't want no part of yo tight-ass country club, ya freak bitch! Stop licking my hand, you
    horse's ass! Monday morning. COME ON! It was the first taste of alcohol Buster had since he was
    nursing. That was Tom Cruise, the actor. They said he was some kind of scientist. Hey, it was one
    night of wild passion! Michael: And yet you didn't notice her body? Gob: I like to look in the
    mirror. Mr. Zuckerkorn, you've been warned about touching. Barry: You said spanking. Bob Loblaw
    Law Blog. I'll sacrifice anything for my children. It's a jetpack, Michael. What could go wrong?
    What's gotten into you? Have you been eating cheese? Hahahahah! Those are balls. If you're
    suggesting I play favorites, you're wrong. I love all of my children equally. I don't care for
    Gob. I run a pretty tight ship around here. With a pool table. It's a gaming ship. It's so watery.
    And yet there's a smack of ham to it. I've been in the film business for a while but I just can't
    seem to get one in the can. I spent so much time making sweet love on my wife that it's hard to
    hear anything over the clatter of her breasts. Waiting for the Emmys. BTW did you know won 6 Emmys
    and was still canceled early by Fox? COME ON. You boys know how to shovel coal? But I did finally
    get into Dad's pants. Although I had to have the crotch taken in a little bit. Buster's in what we
    like to call a light to no coma. In layman's terms, it might be considered a very heavy nap. See
    for more good stuff.</p>

  <p class="m-8">
    In the mid '90s, Tobias formed a folk music band with Lindsay and Maebe which he called Dr.
    Funke's 100 Percent Natural Good Time Family Band Solution. The group was underwritten by the
    Natural Food Life Company, a division of Chem-Grow, an Allen Crayne acqusition, which was part of
    the Squimm Group. Their motto was simple: We keep you alive. Hey, maybe you could pop a tent
    outside with your cousin Maeby… it'd be a good chance to rub off on her. I cheated and I lied and
    I whored around. Are you sure this isn't her sister? Mrs Veal: What a lovely thing to say.
    Michael: That's an awful thing to say. You are a worse psychiatrist than you are a son-in-law and
    you will never get work as an actor because you have no talent. Each year, Oscar attempts the four
    hundred mile walk from Newport Beach to Berkeley, California. In the twelve years that he's
    attempted this, he's never made it farther than UC Irvine. Annhog's coming? Make love in your
    *own* hand, Mother! Smack of ham. What is she doing at a beauty pageant? Is she running the lights
    or something? It's OUR nausea. I am getting rid of this thing. It has caused me nothing but pride
    and self-respect. Operation Hot Mother. You just grab that brownish area by its points and you
    don't let go no matter what your mother tells you! Are you at all concerned about an uprising?
    Sweet old thing. Only two of those words describe Mom, so I know you're lying to me. Teamocil. And
    I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. You
    need to do more with Rita. Believe me, I'd like to. Did Ted make an appointment? No. Well, then
    Ted can GET THE HELL OUT OF THIS OFFICE! YOU GET THE HELL OUT! There are very few intelligent,
    attractive and straight men in this town. Well, that certainly leaves me out. Each year, Oscar
    attempts the four hundred mile walk from Newport Beach to Berkeley, California. In the twelve
    years that he's attempted this, he's never made it farther than UC Irvine. Monday morning. COME
    ON! But I did finally get into Dad's pants. Although I had to have the crotch taken in a little
    bit. I don't want no part of yo tight-ass country club, ya freak bitch! Stop licking my hand, you
    horse's ass! Monday morning. COME ON! It was the first taste of alcohol Buster had since he was
    nursing. That was Tom Cruise, the actor. They said he was some kind of scientist. Hey, it was one
    night of wild passion! Michael: And yet you didn't notice her body? Gob: I like to look in the
    mirror. Mr. Zuckerkorn, you've been warned about touching. Barry: You said spanking. Bob Loblaw
    Law Blog. I'll sacrifice anything for my children. It's a jetpack, Michael. What could go wrong?
    What's gotten into you? Have you been eating cheese? Hahahahah! Those are balls. If you're
    suggesting I play favorites, you're wrong. I love all of my children equally. I don't care for
    Gob. I run a pretty tight ship around here. With a pool table. It's a gaming ship. It's so watery.
    And yet there's a smack of ham to it. I've been in the film business for a while but I just can't
    seem to get one in the can. I spent so much time making sweet love on my wife that it's hard to
    hear anything over the clatter of her breasts. Waiting for the Emmys. BTW did you know won 6 Emmys
    and was still canceled early by Fox? COME ON. You boys know how to shovel coal? But I did finally
    get into Dad's pants. Although I had to have the crotch taken in a little bit. Buster's in what we
    like to call a light to no coma. In layman's terms, it might be considered a very heavy nap. See
    for more good stuff.
  </p>
</div>
