<div
  class="    {{ themeService.getBackgroundPrimary(contest.year) }}    {{
    themeService.getTextPrimary(contest.year)
  }} border-b-2 border-black">
  <div class="m-auto max-w-7xl py-8 px-4 md:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="order-2 md:order-1">
        <h1 class="text-2xl mb-4 hidden md:block">{{ contest.year }}</h1>
        <eurovision-ranking-table
          [sortedEntities]="contest.entriesSorted.slice(0, 10)"
          [displayNameOptions]="{hideYear: true}"
          [colorScheme]="
            contest.colours[2].toLocaleLowerCase() === '#ffffff' ? 'light' : 'dark'
          "></eurovision-ranking-table>
      </div>
      <div class="order-1 md:order-2 flex justify-center md:justify-end">
        <img
          alt="{{ contest.hostCountry.name }}"
          class="max-h-32"
          src="assets/eurovision/contests/{{ contest.year }}.png" />
      </div>
    </div>
  </div>
</div>
