.participants {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;

  section {
    height: 100%;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr auto;
      margin: 10px 0;
    }

    .participant {
      display: grid;
      grid-template-rows: auto auto;

      span:last-of-type {
        color: grey;
      }
    }
  }

  .creation {
    display: grid;
    grid-template-columns: 2fr 2fr auto;
    gap: 0.5rem;
    margin-top: 2rem;

    input {
      height: 2rem;
    }
  }
}
