<div class="participants">
  <section class="card">
    <h3>Turnierteilnehmer</h3>
    <ul *ngIf="_participants.length; else noParticipants">
      <li *ngFor="let participant of _participants; let idx = index">
        <span class="participant">
          <span>{{participant.name}}</span><span>Stärke: {{participant.strength}}</span>
        </span>
        <button (click)="_deleteParticipant(idx)">Löschen</button>
      </li>
    </ul>
    <ng-template #noParticipants>
      <p>Füge Teilnehmer hinzu, um sie hier angezeigt zu bekommen.</p>
    </ng-template>
    <form class="creation" [formGroup]="_participantForm" (ngSubmit)="_createParticipant()">
      <input type="text" placeholder="Name" formControlName="name">
      <input type="number" placeholder="Stärke" min="0" formControlName="strength">
      <button type="submit">+</button>
    </form>
  </section>
</div>
