<main class="relative overflow-hidden">
  <!-- Diagonal bars -->
  @if (country.primaryColor && country.secondaryColor) {
    <div class="absolute inset-0 pointer-events-none -z-10">
      <!-- First bar (primary color) -->
      <div 
        class="absolute w-3 h-[200%] opacity-20"
        [style.background-color]="country.primaryColor"
        style="left: 0; top: 30%; transform: rotate(45deg); transform-origin: left top;">
      </div>
      <!-- Second bar (secondary color) -->
      <div 
        class="absolute w-3 h-[200%] opacity-20"
        [style.background-color]="country.secondaryColor"
        style="left: 0.875rem; top: 30%; transform: rotate(45deg); transform-origin: left top;">
      </div>
    </div>
  }
  <div class="m-auto max-w-7xl py-8 px-4 md:px-8">
    <every-breadcrumb></every-breadcrumb>
    <h1 class="text-3xl mt-8 mb-4 flex gap-2 items-center">
      <img
        src="assets/eurovision/countries/{{ getFlag(country.code) }}.png"
        alt="{{ country.name }}"
        class="h-8 w-8" />
      {{ country.name }}
    </h1>
    <eurovision-ranking-table [sortedEntities]="sortedEntries" [showFlag]="false" />
  </div>
</main>
