@let tasks = tasks$();
@if (tasks.length) {
  <every-content-area class="relative">
    <h1 class="text-2xl md:text-3xl mb-4 md:mb-8">Pflegeliste</h1>

    <plantu-location-dropdown (changeFilter$)="onFilterChange($event)" />

    <div class="flex flex-col gap-4">
      @for (task of tasks; track task.day) {
        <h2 class="text-xl md:text-2xl">{{ getLocalDate(task.day) }}</h2>
        @for (plant of task.plants; track plant._id) {
          <plantu-card [plant]="plant" [targetDate]="task.day"></plantu-card>
        }
      }
    </div>
  </every-content-area>

  @if (showScrollToTop$()) {
    <div class="fixed start-6 bottom-6">
      <button
        (click)="scrollToTop()"
        type="button"
        class="relative flex items-center justify-center text-white shadow-gray-400 dark:shadow-black shadow-lg bg-sky-600 rounded-full w-12 h-12 md:w-16 md:h-16 hover:bg-sky-800 dark:bg-sky-600 dark:hover:bg-sky-700">
        <span class="hidden md:flex items-center">
          <ng-icon class="m-auto" color="currentColor" size="2rem" name="lucideArrowUp"></ng-icon>
        </span>
        <span class="flex md:hidden items-center">
          <ng-icon color="currentColor" size="1.5rem" name="lucideArrowUp"></ng-icon>
          <span class="sr-only">Scroll to Top</span>
        </span>
      </button>
    </div>
  }

  @if (!basketService.isEmpty$()) {
    <div class="fixed end-6 bottom-6 flex gap-2 md:gap-4 justify-between">
      <button
        (click)="basketService.clear()"
        type="button"
        class="flex items-center justify-center text-white shadow-gray-400 dark:shadow-black shadow-lg bg-gray-400 rounded-full w-12 h-12 md:w-16 md:h-16 hover:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600">
        <span class="hidden md:flex items-center">
          <ng-icon class="m-auto" color="currentColor" size="2rem" name="lucideX"></ng-icon>
        </span>
        <span class="flex md:hidden items-center">
          <ng-icon color="currentColor" size="1.5rem" name="lucideX"></ng-icon>
          <span class="sr-only">Discard</span>
        </span>
      </button>
      <button
        (click)="submit()"
        [attr.command]="this.authService.isLoggedIn$() ? '' : 'show-modal'"
        commandfor="password-dialog"
        type="button"
        class="relative flex items-center justify-center text-white shadow-gray-400 dark:shadow-black shadow-lg bg-sky-600 rounded-full w-12 h-12 md:w-16 md:h-16 hover:bg-sky-800 dark:bg-sky-600 dark:hover:bg-sky-700">
        @if (requestIsPending$()) {
          <span class="hidden md:flex items-center animate-spin">
            <ng-icon color="currentColor" size="2rem" name="lucideLoaderCircle"></ng-icon>
          </span>
          <span class="flex md:hidden items-center animate-spin">
            <ng-icon color="currentColor" size="1.5rem" name="lucideLoaderCircle"></ng-icon>
            <span class="sr-only">Save</span>
          </span>
        } @else {
          <span class="hidden md:flex items-center">
            <ng-icon
              class="m-auto"
              color="currentColor"
              size="2rem"
              name="lucideCloudUpload"></ng-icon>
          </span>
          <span class="flex md:hidden items-center">
            <ng-icon color="currentColor" size="1.5rem" name="lucideCloudUpload"></ng-icon>
            <span class="sr-only">Save</span>
          </span>
        }
        <div
          class="absolute cursor-default inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 rounded-full -top-2 -end-2 md:-top-1 md:-end-1">
          {{ basketService.size$() }}
        </div>
      </button>
    </div>
  }

  @if (showToast$()) {
    <div
      class="fixed m-auto end-6 bottom-6 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-gray-400 dark:shadow-black dark:text-gray-400 dark:bg-gray-700 shadow-lg"
      role="alert">
      <div
        class="inline-flex items-center justify-center shrink-0 w-8 h-8 rounded-lg"
        [ngClass]="{
          'text-green-500 dark:bg-green-800 bg-green-100 dark:text-green-200':
            showToast$() === 'success',
          'text-red-500 bg-red-100 dark:bg-red-800 dark:text-red-200': showToast$() === 'error',
        }">
        @if (showToast$() === 'success') {
          <ng-icon color="currentColor" size="1.25rem" name="lucideCircleCheck"></ng-icon>
        }
        @if (showToast$() === 'error') {
          <ng-icon color="currentColor" size="1.25rem" name="lucideCircleX"></ng-icon>
        }
        <span class="sr-only">Check icon</span>
      </div>
      @if (showToast$() === 'success') {
        <div class="ms-3 text-sm font-normal">Upload erfolgreich</div>
      }
      @if (showToast$() === 'error') {
        <div class="ms-3 text-sm font-normal">Upload fehlgeschlagen</div>
      }
      <button
        type="button"
        (click)="showToast$.set(undefined)"
        class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-sm hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-400 dark:hover:text-white dark:bg-gray-700 dark:hover:bg-gray-600"
        aria-label="Close">
        <span class="sr-only">Close</span>
        <ng-icon class="m-auto" color="currentColor" size="1.5rem" name="lucideX"></ng-icon>
      </button>
    </div>
  }
} @else {
  <every-loading></every-loading>
}

<every-dialog [dialogId$]="'password-dialog'">
  <h3 i18n class="text-xl md:text-2xl">Please enter password</h3>
  <div class="my-4 md:my-6 flex flex-col gap-2">
    <label for="password" class="block font-medium text-gray-900 dark:text-white">Password</label>
    <input
      [(ngModel)]="passwordInput"
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
      placeholder="•••••••••"
      autocomplete="off"
      required />
    <button
      type="button"
      (click)="sendPasswordAndSubmit()"
      command="close"
      commandfor="password-dialog"
      class="text-white bg-sky-600 hover:bg-sky-800 font-medium rounded-lg px-5 py-2.5 dark:bg-sky-600 dark:hover:bg-sky-700 mt-2 md:mt-4">
      Send
    </button>
  </div>
</every-dialog>
