<section class="w-full bg-gray dark:bg-gray-950 py-16 md:py-20 2xl:py-24">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
    <div class="flex flex-col gap-12 md:flex-row">
      <div class="flex items-center justify-center md:order-last md:flex-grow md:justify-end">
        <div class="relative h-[300px] w-[280px] md:h-[360px] md:w-[320px]">
          <div
            class="absolute h-[280px] w-[280px] border-8 border-transparent dark:bg-gray-700 bg-gray-200 max-md:top-5 md:bottom-0 md:right-0 md:h-[320px] md:w-[280px]"></div>
          <img
            alt="Headshot of Alex"
            i18n-alt
            width="320"
            height="320"
            srcset="/assets/headshot_sm.webp 640w, /assets/headshot.webp 768w, /assets/headshot2x.webp 2x"
            class="absolute z-1 0 h-[280px] w-[240px] border-8 dark:border-gray-950 border-gray max-md:left-5 md:left-0 md:top-0 md:h-[320px] md:w-[280px]"
            style="color: transparent; object-fit: cover"
            ngSrc="assets/headshot.webp"
            [priority]="true" />
        </div>
      </div>
      <div
        class="flex max-w-3xl flex-grow flex-col justify-center gap-8 md:order-first md:items-start md:justify-center 2xl:gap-12">
        <div class="flex flex-col gap-2">
          <h1
            i18n
            class="text-4xl font-semibold md:font-bold md:text-5xl md:tracking-[-0.02em] lg:text-6xl lg:leading-[72px] text-gray-900 dark:text-gray-50">
            Hi, I'm Alex
            <span class="inline-block waving">👋</span>
          </h1>
          <p i18n class="text-normal text-base">
            I'm a passionate web developer (currently Angular, TailwindCSS and Node.js) with over 5
            years of experience. My goal is to create responsive and performant web applications
            that are both functional and aesthetically pleasing. Welcome! 🚀
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <ng-icon name="lucideMapPin" size="1.5rem"></ng-icon>
            <p i18n class="text-normal text-base">Düsseldorf, Germany</p>
          </div>
          <div class="flex items-center gap-2">
            <div class="flex h-6 w-6 items-center justify-center">
              <span class="relative flex h-3 w-3"
                ><span
                  class="absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-400 opacity-75"></span
                ><span class="relative inline-flex h-3 w-3 rounded-full bg-emerald-500"></span
              ></span>
            </div>
            <p i18n class="text-normal text-base">Available for new projects</p>
          </div>
        </div>
        <every-socials [socials]="socials"></every-socials>
      </div>
    </div>
  </div>
</section>
