<main class="m-auto max-w-7xl">
  <h1>Simulation von Elo- und Glicko-Ratings</h1>
  <h2>Diese Seite wurde im Rahmen des Hochschulmoduls "Spezielle Gebiete der Mathematik"
    entwickelt.</h2>
  <p>Auf dieser Seite kannst du die Ratingsysteme <a href="https://de.wikipedia.org/wiki/Elo-Zahl" target="_blank">Elo</a> und <a
          href="https://de.wikipedia.org/wiki/Glicko-System" target="_blank">Glicko</a> simulieren.
    Erstelle dazu mindestens zwei neue Spieler und lege eine Spielstärke fest. Die Spielstärke ist ein relativer
    Wert und bestimmt ob ein Spieler gegen einen anderen Spieler gewinnt. Im normalen Simulationsmodus gewinnt stets
    der Spieler mit der höheren Stärke, bzw. es gibt ein Unentschieden, wenn die Spielstärken gleich sind.
    Zusätzlich kann ausgewählt werden, dass schwächere Spieler zufällig gegen Stärkere gewinnen. Die
    Wahrscheinlichkeit eines solchen Ereignisses ist abhängig von der Differenz der Stärken. Je höher sie ist, desto
    selten tritt dieses Ereignis auf. Außerdem kann definiert werden wie oft ein Spieler spielt und ob er zufällige
    Gegner bekommt, gegen ähnlich starke Gegner oder nach einer Setzliste, also Spieler mit größeren
    Stärkenunterschieden spielt. Bei einer Setzliste von acht Teilnehmern spielt der Beste (1.) gegen den
    Schlechtesten (8.),
    der Zweitbeste (2.) gegen den Zweischlechtesten (7.) etc.</p>
  <div class="grid gap-8 grid-cols-[1fr,2fr]">
    <eloglicko-player></eloglicko-player>
    <div class="flex flex-col gap-8">
      <eloglicko-configuration></eloglicko-configuration>
      <section class="bg-white p-4 border-4">
        <h3 class="mt-2">Lege mindestens zwei Spieler an und starte ein Turnier!</h3>
      </section>
    </div>
  </div>
</main>
