@if (isOpen) {
  <div
    (click)="closeNavigation()"
    data-state="open"
    class="fixed inset-0 z-50 dark:bg-gray-50/10 bg-gray-900/10 opacity-100 backdrop-blur-sm"
    style="pointer-events: auto"
    data-aria-hidden="true"
    aria-hidden="true"></div>

  <div
    role="dialog"
    id="radix-:R1mja:"
    aria-describedby="radix-:R1mjaH2:"
    aria-labelledby="radix-:R1mjaH1:"
    data-state="open"
    class="fixed z-50 shadow-2xl bg-gray dark:bg-gray-950 ring-1 ring-black/10 transition-all ease-in-out duration-100 inset-y-0 right-0 h-full max-w-xs w-full data-[state=open]:animate-drawer-open data-[state=closed]:animate-drawer-close"
    tabindex="-1"
    style="pointer-events: auto">
    <div
      class="flex items-center justify-between border-b border-gray-100 dark:border-gray-800 p-4">
      <h3 class="text-xl md:text-2xl tracking-[-0.02em] text-gray-900 dark:text-gray-50 font-bold">
        &lt;alexstrutz.dev /&gt;
      </h3>
      <button
        (click)="closeNavigation()"
        i18n-aria-label
        aria-label="Close navigation"
        class="relative flex justify-center items-center hover:bg-gray-100 active:bg-gray-200 dark:hover:bg-gray-800 dark:active:bg-gray-700 rounded-lg p-1.5 transition-colors duration-200 [&amp;_svg]:stroke-gray-600 [&amp;_svg]:hover:stroke-gray-700 [&amp;_svg]:w-6 [&amp;_svg]:h-6"
        type="button">
        <ng-icon color="currentColor" size="1.5rem" name="lucideX"></ng-icon>
      </button>
    </div>
    <div class="border-b dark:border-gray-800 border-gray-100 p-4">
      <ul class="flex list-none flex-col gap-4">
        @for (link of links$(); track link) {
          <li>
            <a
              (click)="closeNavigation()"
              target="_self"
              class="text-base font-medium text-gray-600 dark:text-gray-300 transition-all dark:hover:text-gray-50 hover:text-gray-900 dark:active:text-gray-300 active:text-gray-600"
              [routerLink]="link.path ?? []"
              [fragment]="link.fragment"
              >{{ link.name }}</a
            >
          </li>
        }
      </ul>
    </div>

    <div class="w-full block border-b dark:border-gray-800 border-gray-100" id="navbar-dropdown">
      <button
        (click)="isAppNavOpen = !isAppNavOpen"
        id="dropdownNavbarLink"
        data-dropdown-toggle="dropdownNavbar"
        [ngClass]="{'pb-4': !isAppNavOpen}"
        class="flex gap-4 pt-4 px-4 items-center font-medium justify-between w-full text-gray-600 dark:text-gray-300 transition rounded-sm">
        <p>Apps</p>
        <button class="p-1">
          <ng-icon
            color="currentColor"
            size="1.3rem"
            name="lucideChevronDown"
            [ngClass]="
              isAppNavOpen
                ? 'transform rotate-180 transition-transform duration-200'
                : 'transform rotate-0 transition-transform duration-200'
            "></ng-icon>
        </button>
      </button>
      <div
        id="dropdownNavbar"
        [ngClass]="isAppNavOpen ? '' : 'hidden'"
        class="font-normal divide-y divide-gray-100 rounded-lg shadow-sm w-full dark:divide-gray-600">
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-400"
          aria-labelledby="dropdownLargeButton">
          @for (app of apps; track app.name) {
            <li>
              @if (app.isExternal) {
                <a
                  [href]="app.url"
                  target="_blank"
                  rel="noopener noreferrer"
                  [ngClass]="{'dark:text-white text-black underline': appService.currentApp$().name === app.name}"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex items-center gap-2"
                  >{{ app.name }}
                  <ng-icon color="currentColor" size="1rem" name="lucideExternalLink"></ng-icon>
                </a>
              } @else {
                <a
                  [routerLink]="app.url"
                  (click)="isAppNavOpen = false; isOpen = false"
                  [ngClass]="{'dark:text-white text-black underline': appService.currentApp$().name === app.name}"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >{{ app.name }}</a
                >
              }
            </li>
          }
        </ul>
      </div>
    </div>

    <div class="flex flex-col gap-4 p-4">
      <button (click)="toggleColorScheme()" class="flex items-center justify-between">
        <p i18n id="toggle-theme-label" class="text-normal text-base">Switch Theme</p>
        <div
          class="relative flex justify-center items-center dark:hover:bg-gray-800 hover:bg-gray-100 dark:active:bg-gray-700 active:bg-gray-200 rounded-lg p-1.5 transition-colors duration-200"
          aria-labelledby="toggle-theme-label"
          >
          <ng-icon color="currentColor" size="1.5rem" [name]="colorIconName"></ng-icon>
        </div>
      </button>
    </div>

    @if (localeService.shouldShowLanguageSwitcher) {
      <div class="flex flex-col gap-4 p-4 pt-0">
        <button
          (click)="
            localeService.isMobileLanguageSwitcherOpen = !localeService.isMobileLanguageSwitcherOpen
          "
          class="flex items-center justify-between w-full text-left text-gray-600 dark:text-gray-300">
          <p i18n class="text-base">Switch Language</p>
          <div class="flex items-center gap-2">
            <img
              class="w-6 h-auto block rounded"
              [src]="localeService.getLanguageIconName(localeService.activeLocale)"
              [alt]="localeService.activeLocale" />
            <ng-icon
              color="currentColor"
              size="1.3rem"
              name="lucideChevronDown"
              [ngClass]="
                localeService.isMobileLanguageSwitcherOpen
                  ? 'transform rotate-180 transition-transform duration-200'
                  : 'transform rotate-0 transition-transform duration-200'
              "></ng-icon>
          </div>
        </button>

        <div
          [ngClass]="localeService.isMobileLanguageSwitcherOpen ? '' : 'hidden'"
          class="mt-2 ml-2 mr-2 bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm p-3">
          <ul class="grid grid-cols-3 gap-3">
            @for (locale of localeService.locales; track locale) {
              <li>
                <a
                  [href]="'https://alexstrutz.dev/' + locale.code"
                  class="flex flex-col items-center gap-1 w-full group">
                  <img
                    class="w-8 h-auto block group-hover:scale-110 transition-all duration-150 rounded"
                    [src]="localeService.getLanguageIconName(locale.code)"
                    [alt]="locale.name" />
                  <span
                    class="text-xs text-gray-700 dark:text-gray-300 group-hover:font-semibold"
                    [ngClass]="{
                      'underline font-semibold': locale.code === localeService.activeLocale
                    }">
                    {{ locale.name }}
                  </span>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
}
