<section i18n-id id="experience" class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50 dark:bg-gray-900">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
    <div class="flex flex-col items-center gap-4">
      <div class="self-center">
        <div class="self-center">
          <h2>
            <every-tag i18n>Experience</every-tag>
          </h2>
        </div>
      </div>
      <p i18n class="text-normal text-lg md:text-xl max-w-xl text-center">
        Here is a quick summary of my most recent adventures:
      </p>
    </div>
    @for (experience of experiences; track experience) {
      <div
        class="rounded-xl bg-gray shadow-md dark:bg-gray-800 dark:shadow-2xl mx-auto flex w-full max-w-4xl flex-col justify-between gap-4 p-8 md:flex-row md:gap-8">
        <div class="max-md:order-1 md:w-1/4">
          <a [href]="experience.href" [attr.aria-label]="experience.company" target="_blank">
            <img
              [alt]="experience.company + ' logo'"
              loading="lazy"
              width="102"
              height="28"
              decoding="async"
              data-nimg="1"
              class="max-w-[120px]"
              [ngSrc]="getLogoPath(experience.company)"
              style="color: transparent" />
          </a>
        </div>
        <div class="flex flex-col gap-4 max-md:order-3 md:w-2/4">
          <p class="text-lg md:text-xl font-semibold dark:text-gray-50 text-gray-900">
            {{ experience.title }}
          </p>
          <ul class="flex list-disc flex-col gap-2 md:gap-1">
            @for (task of experience.tasks; track task) {
              <li class="text-normal text-base">
                {{ task }}
              </li>
            }
          </ul>
        </div>
        <div class="max-md:order-2 md:w-1/4">
          <p class="text-base text-gray-700 dark:text-gray-200 md:text-right">
            {{ getDuration(experience) }}
          </p>
        </div>
      </div>
    }
  </div>
</section>
