@if (isOpen$()) {
  <div
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%)] max-h-full bg-black/40 backdrop-blur-sm">
    <div class="relative w-full max-w-md max-h-full m-auto">
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <h3 class="text-xl font-medium text-gray-900 dark:text-white">{{ title$() }}</h3>
          <button
            (click)="onClose$.emit()"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <ng-icon class="m-auto" color="currentColor" size="1rem" name="lucideX"></ng-icon>
          </button>
        </div>
        <div class="p-4 md:p-5 space-y-4">
          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            Snooze alle offenen Aufgaben von "{{ title$() }}" auf folgendes Datum:
          </p>
          <input
            class="datepicker-input w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm text-gray-700 shadow-sm dark:bg-gray-800 dark:border-gray-600 dark:text-white"
            type="date"
            [value]="initialDate$()"
            (change)="onDateChange($event)" />
        </div>
        <div
          class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button
            type="button"
            (click)="onSnooze$.emit(snoozedDate)"
            class="text-white bg-sky-700 hover:bg-sky-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700">
            Snooze me!
          </button>
        </div>
      </div>
    </div>
  </div>
}
