<ul class="flex flex-col gap-1">
  @for (entity of sortedEntities; track 'a') {
    @if (Util.isEntry(entity)) {
      <li class="flex gap-2 items-center text-lg" [ngClass]="{ 'font-semibold': $index < 3 }">
        <p class="w-4">{{ $index + 1 }}.</p>
        <a routerLink="/eurovision/countries/{{ entity.country.code }}">
          <img
            src="assets/eurovision/countries/{{ getFlag(entity) }}.png"
            alt="{{ entity.country.name }}"
            class="h-8 w-8" />
        </a>
        <p>{{ Util.getDisplayName(entity) }}</p>
      </li>
    }
  }
</ul>
