<ul class="flex flex-col gap-1">
  @for (entity of sortedEntities; track entity) {
    @if (Util.isEntry(entity)) {
      <li
        class="flex gap-2 items-center text-lg max-w-fit"
        [ngClass]="{ 'font-semibold': $index < 3 }">
        <p class="w-4">{{ $index + 1 }}.</p>
        @if (showFlag) {
          <a routerLink="/eurovision/countries/{{ entity.country.code }}">
            <img
              src="assets/eurovision/countries/{{ getFlag(entity.country.code) }}.png"
              alt="{{ entity.country.name }}"
              class="h-8 w-8 hover:underline" />
          </a>
        }
        <a
          class="hover:underline cursor-pointer"
          routerLink="/eurovision/entries/{{ entity.id }}"
          >{{ Util.getDisplayName(entity, displayNameOptions) }}</a
        >
      </li>
    }
    @if (Util.isRatedCountry(entity)) {
      <li class="max-w-fit" [ngClass]="{ 'font-semibold': $index < 3 }">
        <a
          class="flex gap-2 items-center text-lg hover:underline"
          routerLink="/eurovision/countries/{{ entity.code }}">
          <p class="w-4">{{ $index + 1 }}.</p>
          @if (showFlag) {
            <img
              src="assets/eurovision/countries/{{ getFlag(entity.code) }}.png"
              alt="{{ entity.name }}"
              class="h-8 w-8" />
          }
          <p>{{ Util.getDisplayName(entity, displayNameOptions) }}</p>
        </a>
      </li>
    }
    @if (Util.isCountry(entity)) {
      <li class="max-w-fit" [ngClass]="{ 'font-semibold': $index < 3 }">
        <a
          class="flex gap-2 items-center text-lg hover:underline"
          routerLink="/eurovision/countries/{{ entity.code }}">
          <p class="w-4">{{ $index + 1 }}.</p>
          @if (showFlag) {
            <img
              src="assets/eurovision/countries/{{ getFlag(entity.code) }}.png"
              alt="{{ entity.name }}"
              class="h-8 w-8" />
          }
          <p>{{ Util.getDisplayName(entity, displayNameOptions) }}</p>
        </a>
      </li>
    }
    @if (Util.isRatedContest(entity)) {
      <li class="max-w-fit" [ngClass]="{ 'font-semibold': $index < 3 }">
        <a class="text-lg hover:underline" routerLink="/eurovision/contests/{{ entity.year }}">
          {{ $index + 1 }}. {{ Util.getDisplayName(entity, displayNameOptions) }}
        </a>
      </li>
    }
  }
</ul>
